<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Добавить отделение</title>
    <link type="text/css" rel="stylesheet" data-th-href="@{/css/table_style.css}"/>
    <link type="text/css" rel="stylesheet" data-th-href="@{/css/button_style.css}"/>
    <link type="text/css" rel="stylesheet" data-th-href="@{/css/input_style.css}"/>
</head>
<body>
<div align="center">
    <h1>Добавить отделение</h1>
    <br />
    <form class="inputStyle" th:action="@{/saveSubnet}" th:object="${subnet}"
          method="post">

        <table border="0" cellpadding="10">

            <tr>
                <td>Название:</td>
                <td><input type="text" th:placeholder="confidential" th:field="*{name}" /></td>
            </tr>
            <tr>
                <td>Начальный адрес:</td>
                <td><input type="text" th:placeholder="confidential"th:field="*{fromAddress}" /></td>
            </tr>
            <tr>
                <td>Конечный адрес:</td>
                <td><input type="text" th:placeholder="confidential" th:field="*{toAddress}" /></td>
            </tr>
            <tr>
                <td>IP подсети</td>
                <td><input type="text" th:placeholder="confidential" th:field="*{fullAddress}" /></td>
            </tr>
            <tr>
                <td>Имя сервера</td>
                <td><input type="text" th:placeholder="confidential" th:field="*{serverName}" /></td>
            </tr>
            <tr>
                <td colspan="2"><button class="button2" type="submit">Сохранить</button> </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>